.main-window {
    display: flex;
    align-items: flex-start;
    gap: 56px;
    padding-top: 56px;
    padding-left: 56px;
}

.setup-panel {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 260px;
}
